{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="post-container rounded border border-secondary" style="min-height: 400px; margin-top: 10px;">
        <input type="hidden" id="profileuser" value="{{ profile.username }}">
        <input type="hidden" id="username" value="{{ user.username }}">
        <h1 style="text-align: center;">{{ profile }}</h1>

        <div class="border rounded post-container" style="margin-top: 20px; min-height: 200px; width: 90%;">
            bio
        </div>

        <div class="split-container" style="width: 90%;">
            <div>
                <span>Following: <span id="following">{{ following }}</span></span>    
                <span>Followers: <span id="followers">{{ followers }}</span></span>
            </div>
            
            <div>
                {% if user.is_authenticated and profile != user%}
                    <button id="follow" class="btn btn-outline-primary">Follow</button>
                {% endif %}
            </div>
        </div>
    </div>


    <ul class="posts">
        <div id="posts"></div>
    </ul>

{% endblock %}

{% block scripts %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}